.container {
  max-width: 1340px;
  margin: 0 auto;
}
body {
  padding-top: 58px;
}
header {
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
.navigation {
  ul {
    display: flex;
    gap: 24px;
    list-style {
      color: #263238;
      font-family: Poppins;
      font-size: 20px;
      font-weight: 500;
    }
  }
}
.logo {
  color: #000;
  font-family: Poppins;
  font-size: 36px;
  font-weight: 400;
  display: inline;
  span {
    color: #939393;
  }
}
.lets-go {
  width: 220px;
  height: 70px;
  border-radius: 5px;
  border: 2px solid #263238;
  color: #000;
  font-family: Poppins;
  font-weight: 400;
  font-size: 24px;
}
.logo {
  color: #8f95a5;
  font-family: Poppins;
  font-size: 24px;
  font-weight: 400;
  
}
.cards{
  display: flex;
  justify-content:space-around;
}
.logo-pricing{
  color: #000;
  font-family: Poppins;
  font-size: 48px;
  font-weight: 600;
  line-height: 80px; /* 166.667% */
  margin-top: 30px;
  margin-bottom: 20px;
  text-align: center;
}
.p1 {
  color: #263238;
  font-family: Poppins;
  font-size: 30px;
  font-weight: 600;
  line-height: 48px;
  margin-top: 40px;
}

.p2 {
  color: #8F95A5;
  font-family: Poppins;
  font-size: 20px;
  font-weight: 400;
  margin-top: 19px;
}

.button {
  border-radius: 5px;
  background: #EEE;
  width: 260px;
  height: 50px;
  margin-top: 29px;
  margin-bottom: 29px;

}

.p3 {
  color: #263238;
  font-family: Poppins;
  font-size: 30px;
  font-weight: 400;
  margin: 0;
}
.sp{
  color: #546269;
  font-family: Poppins;
  font-size: 18px;
  font-weight: 300;
}

.p4{
  color: #263238;
  font-family: Poppins;
  font-size: 30px;
  font-weight: 600;
  line-height: 48px; /* 160% */
  margin-top: 68px;
}
.p5{
  color: #8F95A5;
  font-family: Poppins;
  font-size: 20px;
  font-weight: 400;
  margin-top: 23px;
}
.button2{
  width: 240px;
  height: 45px;
  border-radius: 5px;
  background: #EEE;
  margin-top: 45px;
  margin-bottom: 29px;

}
.p6{
  color: #263238;
  font-family: Poppins;
  font-size: 30px;
  font-weight: 400;
}
.sp2{
  color: #546269;
  font-family: Poppins;
  font-size: 18px;
  font-weight: 400;
}

footer > div {
  display: flex;
  justify-content: space-between;
  border-top: 2px solid #C4C4C4 ;
  padding-top: 31px;
  p {
    color: #8f95a5;
    font-family: Poppins;
    font-size: 24px;
    font-weight: 400;
    }
}
