.header {
  display: flex;
  justify-content: space-between;
  position: absolute;
  left: 415px;
  top: 72px;
  width: 1230px;
  height: 40px;
}
section {
  width: 2025px;
  height: 968px;
  background: linear-gradient(
      to right,
      rgba(255, 255, 255, 1) 450px,
      transparent 27%,
      transparent 75%,
      /* продовжуємо прозорість до 75% */ rgba(65, 81, 103, 1) 75%,
      rgba(65, 81, 103, 1) 81%,
      rgba(65, 81, 103, 1) 100%
    ),
    url(./photo.png);
  background-size: contain;
  background-position: 0, 650px, 0, 0;
  background-repeat: no-repeat;
}
.hero-logo {
  position: relative;
  width: 486px;
  height: 200px;
  top: 604px;
  left: 410px;
}
.hero-text-logo {
  font-family: Montserrat;
  font-size: 54px;
  font-weight: 900;
  line-height: 70px;
  text-align: left;
  color: #415167;
}
.PERSONALISED {
  font-family: Montserrat;
  font-size: 54px;
  font-weight: 900;
  line-height: 70px;
  text-align: left;
  color: #edf0f5;
  background-color: #c7a17a;
  line-height: 70px;
}
.hero-list-wrapper {
  font-family: Nunito;
  text-align: left;
  position: absolute;
  right: 300px;
  top: 260px;
}
.list-items {
  padding: 15px;
  color: #edf0f5;
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
  text-align: left;
}
.list-items:first{
  width: 108px;
  height: 22px;
  font-weight: 900;
  font-size: 16px;
  top: 230px;
  left: 56px;
}

