.container {
  max-width: 1340px;
  margin: 0 auto;
}
body {
  padding-top: 58px;
}
header {
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
.navigation {
  ul {
    display: flex;
    gap: 34px;
    color: #263238;
    font-family: Poppins;
    font-size: 20px;
    font-weight: 500;
  }
}
.logo > p {
  color: #000;
  font-family: Poppins;
  font-size: 36px;
  font-weight: 400;
  display: inline;
}
.spn {
  color: grey;
}
.lets-go {
  width: 200px;
  height: 70px;
  border-radius: 5px;
  border: 2px solid #263238;
  color: #000;
  font-family: Poppins;
  font-weight: 400;
  font-size: 24px;
  margin-top: 30px;
}
.logo {
  color: #8f95a5;
  font-family: Poppins;
  font-size: 24px;
  font-weight: 400;
}
.cards {
  display: flex;
  justify-content: space-around;
}
.logo-pricing {
  color: #000;
  font-family: Poppins;
  font-size: 48px;
  font-weight: 600;
  line-height: 80px; /* 166.667% */
  margin-top: 30px;
  margin-bottom: 20px;
  text-align: center;
}
.cards {
  display: flex;
  justify-content: space-between;
}
.p1 {
  color: #263238;
  font-family: Poppins;
  font-size: 30px;
  font-weight: 600;
  line-height: 48px;
  margin-top: 40px;
}

.p2 {
  color: #8f95a5;
  font-family: Poppins;
  font-size: 20px;
  font-weight: 400;
  margin-top: 19px;
}

.button {
  border-radius: 5px;
  background: #eee;
  width: 260px;
  height: 50px;
  margin-top: 29px;
  margin-bottom: 29px;
}
.onl {
  margin-left: 40px;
}

.p3 {
  color: #263238;
  font-family: Poppins;
  font-size: 30px;
  font-weight: 400;
  margin: 0;
}
.sp {
  color: #546269;
  font-family: Poppins;
  font-size: 18px;
  font-weight: 300;
}

.p4 {
  color: #263238;
  font-family: Poppins;
  font-size: 30px;
  font-weight: 600;
  line-height: 48px; /* 160% */
  margin-top: 68px;
}
.p5 {
  color: #8f95a5;
  font-family: Poppins;
  font-size: 20px;
  font-weight: 400;
  margin-top: 23px;
}
.button2 {
  width: 240px;
  height: 45px;
  border-radius: 5px;
  background: #eee;
  margin-top: 67px;
  margin-bottom: 29px;
}
.button2:hover {
  background-color: black;
  color: purple;
}
.p6 {
  color: #263238;
  font-family: Poppins;
  font-size: 30px;
  font-weight: 400;
}
.sp2 {
  color: #546269;
  font-family: Poppins;
  font-size: 18px;
  font-weight: 400;
}
.p7 {
  color: #8f95a5;
  font-family: Poppins;
  font-size: 20px;
  font-weight: 400;
  margin-top: 20px;
}
.button3 {
  width: 240px;
  height: 45px;
  border-radius: 5px;
  background: #eee;
  margin-top: 52px;
}
.p8 {
  color: #263238;
  font-family: Poppins;
  font-size: 30px;
  font-weight: 400;
}
.sp3 {
  color: #546269;
  font-family: Poppins;
  font-size: 18px;
  font-weight: 400;
}
.p9 {
  color: #263238;
  font-family: Poppins;
  font-size: 30px;
  font-weight: 600;
  line-height: 48px; /* 160% */
  margin-top: 10px;
}
.web {
  margin-left: 54px;
}
footer > div {
  display: flex;
  justify-content: space-between;
  border-top: 2px solid #c4c4c4;
  /* padding-top: 31px; */
  padding: 30PX 0 ;
  p {
    color: #8f95a5;
    font-family: Poppins;
    font-size: 24px;
    font-weight: 400;
    color: black;
  }
}
.spn2{
  color: grey;
}